.register{
  margin-top: 5%;
  margin-left: 25%;
  background-color: aqua;
  border: 2px solid blue;
  padding: 20px;
  margin-left:35%;
  width: 35%;
}
.back{
  position: absolute;
  top: 10%;
  display: flex;
  height: 80%;
  width:100%;
  background-image: url("C:\Users\vpall\OneDrive\Desktop\ReactProj\payroll\public\home.jpg") ;
  flex-direction: column;
}

@media  screen  and (max-width: 600px) and (min-width: 300px){
  .register{
    margin: auto;
    background-color: aqua;
    border: 2px solid blue;
    padding: 20px;
    width: 90%;
  }
  .back{
    display: flex;
    flex-direction: column;
    height: 80%;
    width:100%;
    background-image: url("C:\Users\vpall\OneDrive\Desktop\ReactProj\payroll\public\home.jpg") ;
  }
}