.form{
    margin-top: 7%;
    margin-left: 25%;
    background-color: aqua;
    border: 2px solid blue;
    padding: 20px;
    margin-left: auto;
    width: 35%;
}
.hr{
    boarder: 5px doted blue;

}

.loging{
    position: absolute;
    top: 10%;
    height:80%;
    width: 100%;
    background-image: url("C:\Users\vpall\OneDrive\Desktop\ReactProj\payroll\public\home.jpg") ;
    padding: 20px;
    
}

@media screen  and (max-width: 600px) and (min-width: 300px){
    .form{
        margin: auto;
        background-color: aqua;
        border: 2px solid blue;
        padding: 20px;
        width: 90%;
       
    }
    .loging{
        display: flex;
        position: absolute;
        top: 10%;
        height:80%;
        width: 100%;
        background-image: url("C:\Users\vpall\OneDrive\Desktop\ReactProj\payroll\public\home.jpg") ;
    }
    
}