.forgott{
    position: absolute;
    top: 10%;
    height:80%;
    width: 100%;
    background-image: url("C:\Users\vpall\OneDrive\Desktop\ReactProj\payroll\public\home.jpg") ;
    padding: 20px;
}
.body{
    margin-top: 7%;
    margin-left: 25%;
    background-color: aqua;
    border: 2px solid blue;
    padding: 20px;
    margin-left: auto;
    width: 35%;
  }
  @media screen and (max-width: 600px) and (min-width: 300px){
    .forgott{
        position: absolute;
        top: 10%;
        height:80%;
        width: 100%;
        background-image: url("C:\Users\vpall\OneDrive\Desktop\ReactProj\payroll\public\home.jpg") ;
        padding: 20px;
    }
    .body{
        margin: auto;
        background-color: aqua;
        border: 2px solid blue;
        padding: 20px;
        width: 100%;
      }
    
  }